# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Show PDF preview of thesis'
      'command': 'preview-thesis:show'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'preview-thesis'
      'submenu': [
        {
          'label': 'Show'
          'command': 'preview-thesis:show'
        }
      ]
    ]
  }
]
